.navbar{
    background-image: url('background.jpg');
    background-size: cover;
    height: 500px;
  }
  .hover-nav:hover{
    border-bottom: 1px solid white;
  }
  .fontsize-logo{
    font-size: 50px;
  }
  button{
    border-radius: 0px !important;  
    margin-right: 10px;
  }
  .card{
    margin-top: 20px;
  }
  .price{
    font-size: 20px;
  }
  @media (max-width: 600px){
    *{
      margin-right: 0;
    }
    .fontsize-logo{
        font-size: 30px;
      }
      .buttons-nav{
          display: flex;
          flex-direction: column;
      }
      .aligniment{
          padding-left:80px;
      }
  }